<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Expediente </h3>
            </div>
            
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                        <div class="card-body">
                            <table id="demo-foo-accordion" class="table m-b-0 toggle-arrow-tiny">
                                <thead>
                                    <tr >
                                         <th> Nombre </th>
                                        <th data-toggle="true"> Fecha Elaborada</th>
                                        <th data-toggle="true"> Fecha Citada</th>
                                        <th> Editar </th>
                                        <th> Ver </th>
                                        <th> Imprimir Receta </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                    <td>nompaciente</td>
                                        <td>fechahistorial</td>
                                        <td>citahistorial</td>
                                        <td> 
                                            <a class="btn btn-warning" data-toggle="modal" data-target=".example3-modal-lg"><i class="fa fa-edit"></i></a>
                                        </td>
                                        <td> 
                                            <a class="btn btn-success" data-toggle="modal" data-target=".example4-modal-lg"><i class="fa fa-eye"></i></a>
                                        </td>
                                        <td> 
                                            <a style="color:#fff" class="btn btn-primary" ><i class="fa fa-print"></i> Receta</a>
                                        </td>                                        
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>            
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

<div class="row">
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <!-- sample modal content -->
            <div class="modal fade example3-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Expediente </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="card">
                            <form>
                            <div class="card-body">
                                <div class="form-body">
                                
                                    <div class="col-12">                                    

                                        <div class="form-group row">
                                            <label for="example-search-input" class="col-2 col-form-label">Peso</label>
                                            <div class="col-4">
                                                <input class="form-control" type="text"  >
                                            </div>
                                            <label for="example-search-input" class="col-2 col-form-label">Talla</label>
                                            <div class="col-4">
                                                <input class="form-control" type="text"  >
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-search-input" class="col-2 col-form-label">FrC.</label>
                                            <div class="col-4">
                                                <input class="form-control" type="text"  >
                                            </div>
                                            <label for="example-search-input" class="col-2 col-form-label">Temp. </label>
                                            <div class="col-4">
                                                <input class="form-control" type="text"  >
                                            </div>
                                        </div>
                                                                                
                                        <div class="form-group row">
                                            <button class=" btn btn-outline-primary">Mostrar Mas Datos</button>
                                        </div>
                                        <div >
                                            
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-10 col-form-label">ANTECEDENTES HEREDOFAMILIARES</label>
                                                <div class="col-12">
                                                    <input class="form-control" type="text"  >
                                                </div>
                                            </div>
                    
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-10 col-form-label">ANTECEDENTES PERSONALES NO PATOLOGICOS</label>
                                                <div class="col-12">
                                                    <input class="form-control" type="text"  >
                                                </div>
                                            </div>
                    
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-10 col-form-label">HEMOTIPO</label>
                                                <div class="col-12">
                                                    <input class="form-control" type="text"  >
                                                </div>
                                            </div>
                    
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-10 col-form-label">ALERGIAS</label>
                                                <div class="col-12">
                                                    <input class="form-control" type="text"  >
                                                </div>
                                            </div>
                    
                                            <div class="form-group">
                                                <label>ANTECEDENTES PERSONALES PATOLOGICOS</label>
                                                <textarea class="form-control" rows="4" name></textarea>
                                            </div>
                    
                                            
                                        </div>
                                                             
                                        <div class="form-group row">
                                            <label for="example-search-input" class="col-2 col-form-label">CITA PROXIMA</label>
                                            <div class="col-10">
                                                <input class="form-control" type="text"  >
                                            </div>
                                        </div>      
                                        <div class="form-group">
                                            <label>TRATAMIENTO</label>
                                            <textarea class="form-control" rows="8" name></textarea>
                                        </div>                                                                                                   
                                </div>               
                                </div>
                                <div class="form-actions">
                                    <button  class="btn btn-success"> <i class="fa fa-check"></i> Guardar </button> 
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->                                
    </div>
</div>
</div>
</div>


<div class="row">
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <!-- sample modal content -->
            <div class="modal fade example4-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Expediente </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="card">
                            <form id="contenidoexpediente content" #content>
                            <div class="card-body" >
                                <div class="form-body">
                                    <div class="col-12">
                                        <div class="form-group row" >
                                            <label id="cajafecha" for="example-search-input" class="col-4 col-form-label">FECHA ELABORADA</label>
                                            <div class="col-4">
                                                <label for="example-text-input" class="col-form-label">fechahistorial</label>
                                            </div>                                            
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table"  >
                                                <thead >
                                                    <tr >
                                                        <th scope="col">PESO</th>
                                                        <th scope="col">TALLA</th>
                                                        <th scope="col">FC</th>
                                                        <th scope="col">FR</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr >
                                                        <td >pesohistorial</td>
                                                        <td >tallahistorial</td>
                                                        <td >fchistorial</td>
                                                        <td >frhistorial</td>
                                                    </tr>       
                                                </tbody>
                                            </table>                                                
                                        </div>
                                        
                                        <div class="form-group row">
                                            <button type="button" class=" btn btn-outline-primary">Mostrar Mas Datos</button>
                                        </div>
                                        <div >                                                
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-12 col-form-label">ANTECEDENTES HEREDOFAMILIARES</label>
                                                <div class="col-12">
                                                    <label for="example-text-input" class="col-form-label">ahhistorial</label>
                                                </div>
                                            </div>                        
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-12 col-form-label">ANTECEDENTES PERSONALES NO PATOLOGICOS</label>
                                                <div class="col-12">
                                                    <label for="example-text-input" class="col-form-label">apnphistorial</label>
                                                </div>
                                            </div>                        
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-12 col-form-label">HEMOTIPO</label>
                                                <div class="col-12">
                                                    <label for="example-text-input" class="col-form-label">hemotipohistorial</label>
                                                </div>
                                            </div>                        
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-12 col-form-label">ALERGIAS</label>
                                                <div class="col-12">
                                                    <label for="example-text-input" class="col-form-label">alergiashistorial</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-12 col-form-label">ANTECEDENTES PERSONALES PATOLOGICOS</label>
                                                <div class="col-12">
                                                    <label for="example-text-input" class="col-form-label">apphistorial</label>
                                                </div>
                                            </div>
                                                                                     
                                            
                                        </div>
                                        
                                       
                                                                
                                        <div class="form-group row">
                                            <label for="example-search-input" class="col-12 col-form-label">CITA PROXIMA</label>
                                            <div class="col-10">
                                                <label for="example-text-input" class="col-form-label">citahistorial</label>
                                            </div>
                                        </div>    
                                        <div class="table-responsive-lg">
                                            <table class="table"  >
                                                <thead >
                                                    <tr class="col-12">
                                                        <th class="col-12">Tratamiento</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="col-12">
                                                        <td ><label for="example-search-input" class="col-12 col-form-label">diagnostico</label></td>
                                                    </tr>                            
                                                </tbody>
                                            </table>                                                
                                        </div>                                                                                                     
                                    </div>               
                                </div>
                              
                        </div>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->                                
    </div>
</div>
</div>
</div>