<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-8 align-self-center">
                <h3 class="text-themecolor">Historial de registros clínicos </h3>
            </div>
            <div class="col-md-4 align-self-center">
                <input id="demo-input-search2" type="text" placeholder="Buscar por nombre" autocomplete="off">
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="table-responsive animated fadeInDown">
            <table class="table full-color-table full-primary-table hover-table">
                <thead>
                    <tr>
                        <th>Apellido</th>                            
                        <th>Ver</th>                          
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>apepaciente</td>                                                                                        
                        <td> 
                            <a class="btn btn-success" ><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>                                        
                </tbody>
            </table>
           
        </div>                     
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->